html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: 'Rubik', sans-serif;
}
body {
    background: radial-gradient(rgb(0, 204, 255), black);
}
.home-container {
    color: black;
}
.welcome-text {
    color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height:50vh;
    font-size: 1.75em;
    font-weight: bolder;
    text-align: center;
}
.link-container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.start-button {
    padding: 25px;
    font-size: 2em;
    box-shadow: inset 3px 3px 3px white, inset -3px -3px 3px gray;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    font-style: italic;
}
.start-button:hover {
    cursor: pointer;
    box-shadow: inset 3px 3px 3px gray, inset -3px -3px 3px white;
}
.stats {
    background: rgb(250, 250, 250);
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 25px;
}
.flex-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.error-message {
    font-size: 1.5rem;
    color: white;
}
.loader {
    height: 4rem;
    width: 4rem;
    border: 4px solid white;
    border-top: 4px solid darkslategray;
    border-radius: 50%;
    animation: spin 500ms linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.question {
    color: white;
    font-weight: bold;
}
.category {
    font-size: 2rem;
    text-align: center;
}
.question-text {
    font-size: 1.5rem;
    text-align: center;
}
.answer {
    font-size: 1.5rem;
    text-align: center;
    margin: 5px;
    border: 1px solid white;
    padding: 5px;
    border-top-right-radius: 25px;
}
.answer:hover {
    background: white;
    color:rgb(0, 204, 255);
    cursor: pointer;
}
.end-container {
    color: white;
    font-weight: bold;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.final-score {
    font-size: 2em;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.play-again-container {
    width: 100%;
    text-align: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play-again-button {
    padding: 25px;
    font-size: 2em;
    box-shadow: inset 3px 3px 3px white, inset -3px -3px 3px gray;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    font-style: italic;
}
.play-again-button:hover {
    cursor: pointer;
    box-shadow: inset 3px 3px 3px gray, inset -3px -3px 3px white;
}